@font-face {
  font-family: 'optimus-princeps';
  src: url('/assets/fonts/OptimusPrinceps.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'optimus-princeps', sans-serif;
  background-image: url("https://images4.alphacoders.com/600/600921.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  height: 100vh;
  padding: 10px;
}